@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1 class="text-center">You are authenticated</h1>

<AuthorizeView>
    <h3 class="text-center mt-4"> Hello @context.User.Identity?.Name!</h3>
</AuthorizeView>